*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #fff;
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover,
a:focus,
.navi-list.current {
  color: #404bbf;
}

button:hover,
button:focus {
  background-color: #404bbf;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

h2 {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.11;
  text-transform: capitalize;
  margin: 0 auto 72px;
}

h3 {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

/* HEADR */
.header {
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navi {
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-items: center;
}

.logo-text {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  padding: 24px 0;
}

.header-logo-text {
  color: #2e2f42;
}

.navi-all-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  gap: 40px;
}

.navi-list {
  font-weight: 500;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navi-list.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address {
  font-style: normal;
}
.address-all-list {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  gap: 40px;
}

.address-list {
  padding: 24px 0;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* MAIN PAGE */
.main-page {
}
.section {
  padding: 120px 0;
}

.slogan {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-bg.jpg);
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  background-size: cover;
  padding: 188px 0;
}
.slogan-text {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
}
.slogan-button {
  background-color: #4d5ae5;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 48px auto 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.description {
  margin: 0;
}
.descr-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.descr-all-list {
  display: flex;
  gap: 24px;
}
.descr-list {
  width: calc((100% - 72px) / 4);
}
.descr-list-icon {
  display: flex;
  height: 112px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  margin-bottom: 8px;
}
.icon-descr {
  flex-shrink: 0;
}
.descr-list-title {
}
.descr-list-text {
  color: #434455;
  margin-top: 8px;
}
.team {
  background-color: #f4f4fd;
}
.team-title {
}
.team-all-list {
  display: flex;
  gap: 24px;
}
.team-list {
  background-color: #fff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-descr {
  padding: 32px 0;
  text-align: center;
}

.team-list-title {
}
.team-list-text {
  color: #434455;
  margin-bottom: 8px;
}
.list-socials {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.socials-item {
  width: 40px;
  height: 40px;
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus {
  background-color: #404bbf;
}
.socials-icon {
  fill: #f4f4fd;
}
.portfol {
}
.portfol-title {
}
.portfol-all-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
  padding: 0;
}
.portfol-list {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfol-list:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfol-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfol-list:hover .overlay {
  transform: translateY(0%);
}

.portf-descr {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
}
.portfol-list-title {
}
.portfol-list-text {
  color: #434455;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.container.foot {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}
.footer-descr {
  padding: 0;
  margin-right: 120px;
}
.footer-logo {
  display: inline-block;
  padding: 0;
  margin-bottom: 16px;
}
.footer-logo-text {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  width: 264px;
}
.footer-elem-title {
  color: #fff;
  font-weight: 500;
  margin-bottom: 16px;
}
.list-socials.footr {
  gap: 16px;
}
.socials-link.foot:hover,
.socials-link.foot:focus {
  background-color: #31d0aa;
}
